* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    background: #99BF9F;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.contenedor .titulo {
    text-align: center;
}

.contenedor p {
    text-align: justify;
}

body {
    background: #F2F2F2;
}

header {
    display: flex;
    justify-content:space-between;
    flex-flow: row wrap;
    align-items: center;
    background: #e4c7a1;
    width: 100%;
    padding: 20px;
}

header .logo img {
    color: #593D36;
    width: 50px;
    vertical-align: top;
}

header .logo a {
    color: #593D36;    
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    color: #fff;
}

header nav a {
    flex-grow: 1;
    background: #593D36;
    font-size: 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

header nav a:hover {
    background: #965a27;
}

header .logo img {
    width: 150px;
    vertical-align:auto;
}


.principal {
    /* flex: 1 1 70%; */
    flex: 1;
    background:  #ffff ;
    padding: 20px;

}

.principal article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.principal article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

aside {
    /* flex: 1  1 30%; */
    flex: 0 0 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: column;
    background: #965a27;
    padding: 20px;
}

aside .widget {
    background: #593D36;
    height: 200px;
    margin: 10px;
}

aside .widget .imagen {
    position:relative;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #e4c7a1;
    width: 100%;
    padding: 20px;
}

footer .enlaces {
    display: flex;
    flex-wrap: wrap;
    background: #593D36;
}

footer .enlaces a {
    display: flex;
    flex-grow: 1;
    background: #99BF9F;
    color: black;
    height: vw;
    font-size: 1em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;
}

footer .enlaces a:hover {
    background: #965a27;
}

footer .redessociales {
    background: #965a27;
    font-size: 1em;
}

footer .redessociales a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding: 0px;
    }

    header .logo {
        margin: 20px 0px;   
    }

    header nav {
        width: 100%;
    }

    aside {
        flex-direction: row;
        flex:0;
    }

    aside .widget {
        flex-grow: 1;
    }

    aside .widget .imagen a button {
        border-style: none;
        padding: 0px;
        margin: 0px;
    }

}

@media screen and (max-width:600px) {
    aside {
        flex-direction: column;
    }

    footer {
        justify-content: space-around;
    }
}